.card {
    padding: 16px;
    border: 1px solid var(--color-storm-grey-200);
    border-radius: 12px;
    background-color: var(--color-white);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    margin-bottom: 24px;
}

.searchContainer {
    position: relative;
    max-width: 500px;
}

.input {
    width: 100%;
    padding: 10px 16px 10px 40px;
    border-radius: 8px;
    border: 1px solid var(--color-storm-grey-300);
    font-family: inherit;
    font-size: 1rem;
}

.icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-storm-grey-500);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}