.card {
    background-color: var(--color-background-paper);
    border: 1px solid var(--color-storm-grey-200);
    border-radius: 20px;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.03);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    color: var(--color-storm-grey-500);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 2.5;
    text-transform: uppercase;
    margin: 0;
}

.value {
    color: var(--color-storm-grey-900);
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.235;
    margin: 0;
}

.avatar {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarSuccess {
    background-color: var(--color-success);
}

.avatarWarning {
    background-color: var(--color-warning);
}

.avatarError {
    background-color: var(--color-error);
}

.footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.trend {
    display: flex;
    align-items: center;
    gap: 4px;
}

.trendUp {
    color: var(--color-success);
}

.trendDown {
    color: var(--color-error);
}

.diff {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.57;
    margin: 0;
}

.caption {
    color: var(--color-storm-grey-500);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.4px;
    margin: 0;
}