.root {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background-color: var(--mui-palette-background-default);
}

.contentWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

/* SideNav handling */
@media (min-width: 1200px) {
    .contentWrapper {
        padding-left: 280px;
        /* --SideNav-width */
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1600px;
    /* equivalent to maxWidth="xl" */
}